    :root{
    --dark-bg: #262626;
    --gray-1: #BCB4B4;
    --deep-dark: #1E1E1E;
    --gray-2: #363636;
    --white : white;
    --black: black;
  }


  .backgroundContact {
    background-color: var(--dark-bg);
  }
  
 
  
  .container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }