.backgroundBody {
  background-color: #ffca0a;
  position: relative; /* Added position relative */
}

.tableTrainers {
  background-color: #28242c;
  height: 60vh;
  width: 90vw;
}
.trainer {
  border: solid red;
}

.textValue {
  color: #eeeeee;
  font-size: 3vh;
}
