html {
  background-color: #ffca0a;
}

.wrapper {
  padding-top: 30px;
  position: absolute;
}

.list {
  list-style-type: none;
  position: inherit;
  left: 3vw;
  width: 180vh;
}
.listItem {
  background-color: #28242c;
  border-radius: 20px;
  border: solid grey;
  margin: 30px auto;
  padding: 70px 30px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchSection{
  display: block;
  width: 100%;
  margin-left: 40vw;
}

#searchInput{
  width: 100%;
}
.para {
  display: inline-block;
  width: 200px;
  color: #eeeeee;
}

.locationName {
  font-size: 130%;
}

.description {
  float: right;
}
