#wrapper {
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

#brandName {
  font-size: 220%;
  color: #FFD232;
}

#navbarDropdownMenuLink {
  border: none;
}

.button {
  background-color: #C90815 !important;
  color: #EEEEEE !important;
}

.navchoice {
  justify-content: space-around;
}

.navOption{
  color: #EEEEEE !important;
  font-size: 21px !important;
}

