#wrapper {
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

#brandName {
  font-size: 220%;
  color: #ffca0a;
}

#navbarDropdownMenuLink {
  border: none;
}

.button {
  background-color: #c90815 !important;
  color: #eeeeee !important;
}

.navchoice {
  justify-content: space-around;
}

.navOption {
  color: #eeeeee !important;
  font-size: 21px !important;
}
