/* Login panel */
.backgroundBody {
  background-color: dimgray;
  width: auto;
  padding-bottom: 30px;
  min-height: 100vh;
  position: relative; /* Added position relative */
}

.backgroundHead {
  padding-top: 10px;
  background-color: var(--dark-bg);
  position: relative;
  height: 78px;
}

.login {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
}

#FormContainer {
  margin: 100px auto;
  padding: 30px 0;
  width: 40%;
  border-radius: 15px;
  color: whitesmoke;
  background-color: var(--gray-1);
}

/* login footer */
.loginFooter {
  color: whitesmoke;
  margin: 0;
}

.Footerbackground {
  width: auto;
  padding-top: 100px;
  background-color: dimgray;
  position: absolute; /* Changed to position absolute */
  bottom: 0; /* Positioned at the bottom */
  width: 100%; /* Full width */
  text-align: center; /* Center-align the footer content */
}

.FooterContainer {
  position: relative;
  margin-top: auto;
  text-align: center;
  background-color: inherit;
}

.loginFooterWrapper {
  padding: 20px;
  background-color: inherit;
}
